.contenedor_amigos {
  height: 400px;
  overflow-x: auto;
}
.user-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: antiquewhite;
  padding: 3px 0px 3px 3px;
  color: #222;
  border-radius: 60px;
  font-size: 20px;
}
.user-item:hover {
  cursor: pointer;
  transform: scale(0.95); /* Escalamos el tamaño del elemento al hacer hover */
  transition: transform 0.3s ease; /* Aplicamos una transición suave de 0.3 segundos */
  background-color: rgb(248, 210, 159);
}
.user-avatar {
  margin-right: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.user-details {
  margin: 0;
}
.user-details__name,
.user-details__email {
  margin: 0;
}
